{{block head}}
    <link rel="stylesheet" href="{{=URL('static','css/index.css')}}"/>
{{end}}

{{extend 'layout.html'}}

<div id="site-container">

<header id="site-top">
    <div id="site-title-container">
        <h1 id="site-title">ARDeTS</h1>
        <span id="site-full-title">Assistive Rapid Development Tracking System</span>
    </div>
    <nav>
        <ul>
            <li>
                <a href="{{=URL("default", "why-ardets")}}">Why ARDeTS</a>
            </li>
            <li>
                <a href="{{=URL("default", "documentation")}}">Documentation</a>
            </li>
            <li>
                <a href="{{=URL("default", "about-us")}}">About Us</a>
            </li>
        </ul>
    </nav>
</header>

<div id="site-divider"></div>

<main id="site-content">
    <article>
        <h2>Development Life Cycle for Rapid Development</h2>
        <p>
            ARDeTS aspires to be a development life cycle technology that aims to help those working
            on a rapidly developing application. Inspired by needs of a rapidly developing application,
            ARDeTS was envisioned first as a simple tracking system. However, much of its potential was
            limited to manual handwork. Named first the "Development Tracking System", I tend to to take
            this idea where I couldn't before, using the power of a web application to automate most of
            what a developer need not worry about while developing.
        </p>
    </article>
    <article>
        <h2>Semantic Versioning Deployment</h2>
        <p>
            ARDeTS will follow a three "phase" development life cycle, leveraging SEMVER versioning. The
            first phase, Development, is where an application goes through the process of obtaining new
            features, general maintenance and optimization. The Staging phase sees that an application be
            tested in a controlled environment. This ensures an application will behave as expected in the
            real world. The final phase, Production, is where an application is shipped or deployed to the
            real world for actual end users to use
        </p>
    </article>
</main>

</div>

