{{block head}}
    <link rel="stylesheet" href="{{=URL('static','css/index.css')}}"/>
{{end}}

{{extend 'layout.html'}}

<div id="site-container">

<header id="site-top">
    <div id="site-title-container">
        <h1 id="site-title">ARDeTS</h1>
        <span id="site-full-title">Assistive Rapid Development Tracking System</span>
    </div>
    <div id="log-buttons">
        <ul>
            <li>
                <a href="{{=URL("user", "projects")}}">
                    <i class="fa fa-sign-in fa-2x"></i>
                    <span class="button-text">Login</span>
                </a>
            </li>
            <li>
                <a href="{{=URL("ardets/default", "user", "logout")}}">
                    <i class="fa fa-sign-out fa-2x"></i>
                    <span class="button-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</header>

<div id="site-divider"></div>

<main id="site-content">
    <article>
        <h2>Development Life Cycle for Rapid Development</h2>
        <p>
            ARDeTS aspires to be a development life cycle technology that aims to help those working
            on a rapidly developing application. Originally created to support a project under rapid
            development, the idea has been taken further using web technology to create a more robust
            system. We are however still in early development and a lot of things are either broken or
            just not in place yet. We hope that early users will provide feedback via Git (we would
            really love it!).
        </p>
        <div id="phase-line">
            <i class="fa fa-flask fa-2x"></i><span>Development</span>
            <i class="fa fa-angle-double-right fa-2x"></i>
            <i class="fa fa-cubes fa-2x"></i><span>Staging</span>
            <i class="fa fa-angle-double-right fa-2x"></i>
            <i class="fa fa-rocket fa-2x"></i><span>Production</span>
        </div>
    </article>
    <article>
        <h2>Semantic Versioning Deployment</h2>
        <p>
            ARDeTS will use SEMVER versioning to automate some of the nitty gritty work developers should
            not need to worry about. This includes archiving old versions, maintaining production domain
            applications, and some other cool features. Some of them are implemented, but most of them
            are not. We hope to make it even easier in the feature with Git integration!
        </p>
        <div id="ardets-version">
            <i class="fa fa-tag fa-2x"></i>
            <span>Current ARDeTS Version {{=version}}</span>
        </div>
    </article>
    <article>
        <h2>The Team</h2>
        <p>
            Currently just one poor college student and his willpower to create meaningful apps (or
            what he thinks is at least meaningful)!
        </p>
        <div id="with-love">
            <span>Made with</span>
            <i class="fa fa-heart fa-2x"></i>
        </div>
    </article>
</main>

</div>

