{{block head}}
    <!--------------------------           Stylesheets              ------------------------------->
    <link rel="stylesheet" href="{{=URL('static','css/index.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/project.css')}}"/>

    <!--------------------------           JavaScripts              ------------------------------->
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="{{=URL('static', 'js/jquery.nanoscroller.js')}}"></script>
    <script>
        var get_projects_url = "{{=URL('projects_api', 'get_projects')}}";
        var get_project_url = "{{=URL('projects_api', 'get_project', user_signature=True)}}";
        var add_task_url = "{{=URL('projects_api', 'add_task', user_signature=True)}}";
        var delete_task_url = "{{=URL('projects_api', 'delete_task', user_signature=True)}}";
        var ch_task_state_url = "{{=URL('projects_api', 'change_task_state', user_signature=True)}}";
        var project_id = "{{=project_id}}";
    </script>
{{end}}

{{extend 'layout.html'}}

<div id="site-container">
    <div id="vue-div" style="display:none">

    <!-------             Site Page Header (First upper part of the document               -------->
    <div id="site-page-header">
        <div class="user-page-title">${project.name}</div>
    </div>

    <!-------             Site Page Content (Actual content of the document)               -------->
    <div id="site-page-content">

        <!-------      Version-Phase Bar (Bar for the version and phase goes here)         -------->
        <div id="version-phase-bar">
            <button id="version-button">${project.version}</button>
            <button id="phase-button">${project.phase}</button>
            <button id="settings-button">Settings</button>
        </div>

        <!----------    Development Tracks (Development track information here)        ------------>
        <div id="dev-tracks">
            <div v-for="track in tracks" class="dev-track" v-bind:class="{'overview-large': is_overview_large(track.title)}">
                <!-- Begin Track Overview Section -->
                <div v-bind:id="track.title" class="track-overview" v-on:click="set_overview_large(track.title)">
                    <div class="track-icon-holder">
                        <i v-bind:class="track.faIcon" aria-hidden="true"></i>
                    </div>

                    <div class="track-title">
                        ${track.title} Track
                        <div class="icon-holder">
                            <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="track-summary">${track.tasks.length} Tasks</div>

                    <div v-if="is_overview_large(track.title)">
                        <div id="tasks-nav-buttons">
                            <div id="marked-button" v-bind:class="{'selected': 'marked' == task_active_state}" v-on:click="set_active_task_state('marked')">Marked</div>
                            <div id="unmarked-button" v-bind:class="{'selected': 'unmarked' == task_active_state}" v-on:click="set_active_task_state('unmarked')">Unmarked</div>
                            <div id="finished-button" v-bind:class="{'selected': 'finished' == task_active_state}" v-on:click="set_active_task_state('finished')">Finished</div>
                        </div>

                        <!-- Begin Tasks List -->
                        <div id="tasks">

                        <div v-for="(task, index) in track.tasks">
                            <div v-if="task.task_state == task_active_state" class="task-container">
                            <div class="task-buttons">
                                <div class="icon-checkoff">
                                    <i v-on:click="activate_state(task.id, task_active_state)" v-bind:class="task_state_icon"></i>
                                </div>
                                <div class="icon-delete">
                                    <i v-on:click="delete_or_unmark_task(task.id, task.task_state)" class=" delete_or_unmark" v-bind:id="'t' + task.id" v-bind:class="delete_or_unmark_icon(task.task_state)"></i>
                                </div>
                            </div>
                            <div class="priority" v-bind:class="get_priority_from_number(task.priority)">
                                ${task.priority}
                            </div>
                            <div class="task-info-container">
                                <div class="summary">
                                    ${task.summary}
                                </div>
                                <div class="meta-info">
                                    <div class="created-by">Created by: Rodolfo</div>
                                    <div class="created-on">Oct 9</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- End Tasks List -->
                        </div>

                        <form action="#" v-on:submit.prevent="add_task" class="form-horizontal" enctype="multipart/form-data" method="post">
                            <div class="form-group" id="summary_row">
                                <div>
                                    <textarea class="form-control string" id="content" v-model="form_task_summary" type="text" placeholder="What's there to do, doc?"></textarea>
                                </div>
                            </div>
                            <div class="priority">
                                <div class="green-priority" v-bind:class="{'selected': is_selected('green')}" v-on:click="set_selected_priority('green')">3</div>
                                <div class="yellow-priority" v-bind:class="{'selected': is_selected('yellow')}" v-on:click="set_selected_priority('yellow')">2</div>
                                <div class="red-priority" v-bind:class="{'selected': is_selected('red')}" v-on:click="set_selected_priority('red')">1</div>
                            </div>
                            <input class="btn btn-sm" id="add_task_submit" type="submit" value="Add"/>
                        </form>
                    </div>
                <!-- End Track Overview Section -->
                </div>
            </div>
        </div>

    <!------------------------           End Site Page Content              ----------------------->
    </div>

    <!-----------------------------           End Vue Div              ---------------------------->
    </div>
</div>

<script src="{{=URL('static', 'js/project_vue.js')}}"></script>