{{block head}}
    <!--------------------------           Stylesheets              ------------------------------->
    <link rel="stylesheet" href="{{=URL('static','css/index.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/project.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/project_menu.css')}}"/>

    <!--------------------------           JavaScripts              ------------------------------->
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="{{=URL('static', 'js/jquery.nanoscroller.js')}}"></script>
    <script>
        var get_project_url = "{{=URL('projects_api', 'get_project', user_signature=True)}}";
        var reset_project_url = "{{=URL('projects_api', 'reset_project', user_signature=True)}}";
        var delete_project_url = "{{=URL('projects_api', 'delete_project', user_signature=True)}}";
        var add_task_url = "{{=URL('projects_api', 'add_task', user_signature=True)}}";
        var delete_task_url = "{{=URL('projects_api', 'delete_task', user_signature=True)}}";
        var ch_task_state_url = "{{=URL('projects_api', 'change_task_state', user_signature=True)}}";
        var inc_version_url = "{{=URL('projects_api', 'increment_version', user_signature=True)}}";
        var next_phase_url = "{{=URL('projects_api', 'next_phase', user_signature=True)}}";
        var project_id = "{{=project_id}}";
    </script>
{{end}}

{{extend 'layout.html'}}

<div id="site-container">
    <div id="vue-div" style="display:none">

    <!-------             Site Page Header (First upper part of the document               -------->
    <div id="site-page-header">
        <div class="main-header">
            <div class="home">ARDeTS</div>
            <div class="user-buttons">
                <div class="button" id="logout">
                    <a href="{{=URL('ardets/default', 'user', 'logout')}}">
                        <i class="fa fa-sign-out fa-lg"></i>
                        <span>Logout</span>
                    </a>
                </div>
                <div class="button" id="projects">
                    <a href="{{=URL('user', 'projects')}}">
                        <i class="fa fa-chevron-circle-left fa-lg"></i>
                        <span>Projects</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="user-page-title">${project.name}</div>
    </div>

    <!-------             Site Page Content (Actual content of the document)               -------->
    <div id="site-page-content">

        <div v-if="version_menu_active" id="version-tab-menu" class="tab-menu-wrapper">
            <div class="menu-header">Version</div>

            <div id="version-browser">
                <label id="browse-label">Current Version</label>
                <select id="browse-version-select">
                    <option v-for="version in project.versions">${version}</option>
                </select>
                <div id="browse-go-wrapper" v-on:click="get_project(get_selected_browse_version())">
                    <i class="fa fa-arrow-circle-right fa-lg"></i>
                </div>
            </div>

            <div id="version-inc-tabs">
                <ul>
                    <li v-bind:class="{'selected': is_selected_version_tab('major')}" v-on:click="set_selected_version_tab('major')">Major</li>
                    <li v-bind:class="{'selected': is_selected_version_tab('minor')}" v-on:click="set_selected_version_tab('minor')">Minor</li>
                    <li v-bind:class="{'selected': is_selected_version_tab('patch')}" v-on:click="set_selected_version_tab('patch')">Patch</li>
                </ul>
            </div>

            <div id="version-inc-menu">
                <div class="inc-warning">
                    <p>${version_menu_data.selected_version_warning}</p>
                </div>

                <div class="inc-button">
                     <form id="increment-form" action="#" v-on:submit.prevent="increment(version_menu_data.selected_version_tab)" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <input type="submit" class="increment btn btn-default" value="Increment">
                     </form>
                </div>

                <div class="inc-confirm-wrapper">
                    <div class="inc-lock">
                        <i v-on:click="unlock_increment()" class="fa fa-lock fa-lg"></i>
                    </div>

                    <div class="inc-lock-text">
                        <p>Unlock to Confirm</p>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="phase_menu_active" id="phase-tab-menu" class="tab-menu-wrapper">
            <div class="menu-header">Phase</div>

            <div class="settings-tab-menu">
                 <div id="phase-text-wrapper" class="settings-menu-text-wrapper">
                    <p>
                        Moving on to the next phase cannot be undone. Be sure that your project
                        is actually ready to move to the next phase.
                    </p>
                </div>

                <div v-if="project.phase != 'Archive'">
                    <div class="text-menu-confirm">
                        <div class="warning-text">The next phase will be ${get_next_phase()}</div>
                    </div>

                    <div class="menu-button-holder">
                        <form class="phase-form" action="#" v-on:submit.prevent="next_project_phase()" class="form-horizontal" enctype="multipart/form-data" method="post">
                            <input type="submit" class="phase-menu-button btn btn-default" value="Next Phase">
                         </form>
                    </div>

                    <div class="lock-confirm-wrapper">
                        <div class="phase-button-lock">
                            <i v-on:click="unlock_phase_button()" class="fa fa-lock fa-lg"></i>
                        </div>

                        <div class="settings-button-lock-text">
                            <p>Unlock to Confirm</p>
                        </div>
                    </div>
                </div>
                <div v-if="project.phase == 'Archive'">
                    <div class="text-menu-confirm" id="last-phase-warning">
                        There is no phase after Archive! You should not be developing for
                        this version anymore!
                    </div>
                </div>

            </div>
        </div>

        <div v-if="settings_menu_active" id="settings-tab-menu" class="tab-menu-wrapper">
            <div class="menu-header">Settings</div>

            <div id="settings-tabs">
                <ul>
                    <li v-bind:class="{'selected': is_selected_settings_tab('reset')}" v-on:click="set_selected_settings_tab('reset')">Reset</li>
                    <li v-bind:class="{'selected': is_selected_settings_tab('freeze')}" v-on:click="set_selected_settings_tab('freeze')">Dev Reset</li>
                    <li v-bind:class="{'selected': is_selected_settings_tab('delete')}" v-on:click="set_selected_settings_tab('delete')">Delete</li>
                </ul>
            </div>

            <div v-if="settings_menu_data.selected_settings_tab == 'reset'" class="settings-tab-menu">
                <div id="reset-text-wrapper" class="settings-menu-text-wrapper">
                    <p>
                        Resetting your project will remove all versions and tasks. The project will
                        then be set to 0.1.0.
                    </p>
                </div>

                <div class="text-menu-confirm">
                    <div class="warning-text">A reset cannot be undone.</div>
                </div>

                <div class="menu-button-holder">
                    <form class="settings-form" action="#" v-on:submit.prevent="reset_project()" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <input type="submit" class="settings-menu-button btn btn-default" value="Reset">
                     </form>
                </div>

                <div class="lock-confirm-wrapper">
                    <div class="settings-button-lock">
                        <i v-on:click="unlock_settings_button()" class="fa fa-lock fa-lg"></i>
                    </div>

                    <div class="settings-button-lock-text">
                        <p>Unlock to Confirm</p>
                    </div>
                </div>
            </div>

            <div v-if="settings_menu_data.selected_settings_tab == 'freeze'"></div>

            <div v-if="settings_menu_data.selected_settings_tab == 'delete'" class="settings-tab-menu">
                 <div id="reset-text-wrapper" class="settings-menu-text-wrapper">
                    <p>
                        Deleting your project will completely remove everything associated it, and
                        delete it from our system.
                    </p>
                </div>

                <div class="text-menu-confirm">
                    <div class="warning-text">Deleting your project cannot be undone!</div>
                </div>

                <div class="menu-button-holder">
                    <form class="settings-form" action="#" v-on:submit.prevent="delete_project()" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <input type="submit" class="settings-menu-button btn btn-default" value="To Oblivion">
                     </form>
                </div>

                <div class="lock-confirm-wrapper">
                    <div class="settings-button-lock">
                        <i v-on:click="unlock_settings_button()" class="fa fa-lock fa-lg"></i>
                    </div>

                    <div class="settings-button-lock-text">
                        <p>Unlock to Confirm</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="version-phase-bar">
            <button id="version-button" v-on:click="main_bar_select('version')">${project.version}</button>
            <button id="phase-button" v-on:click="main_bar_select('phase')">${project.phase}</button>
            <button id="settings-button" v-on:click="main_bar_select('settings')">Settings</button>
        </div>

        <!----------    Development Tracks (Development track information here)        ------------>
        <div id="dev-tracks">
            <div v-for="track in tracks" class="dev-track" v-bind:class="{'overview-large': is_overview_large(track.title)}">
                <!-- Begin Track Overview Section -->
                <div v-bind:id="track.title" class="track-overview" v-on:click="set_overview_large(track.title)">
                    <div class="track-icon-holder">
                        <i v-bind:class="track.faIcon" aria-hidden="true"></i>
                    </div>

                    <div class="track-title">
                        ${track.title} Track
                        <div class="icon-holder">
                            <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="track-summary">${track.tasks.length} Tasks</div>

                    <div v-if="is_overview_large(track.title)">
                        <div id="tasks-nav-buttons">
                            <div id="marked-button" v-bind:class="{'selected': 'marked' == task_active_state}" v-on:click="set_active_task_state('marked')">Marked</div>
                            <div id="unmarked-button" v-bind:class="{'selected': 'unmarked' == task_active_state}" v-on:click="set_active_task_state('unmarked')">Unmarked</div>
                            <div id="finished-button" v-bind:class="{'selected': 'finished' == task_active_state}" v-on:click="set_active_task_state('finished')">Finished</div>
                        </div>

                        <!-- Begin Tasks List -->
                        <div id="tasks">

                        <div v-for="(task, index) in track.tasks">
                            <div v-if="task.task_state == task_active_state" class="task-container">
                            <div class="task-buttons">
                                <div class="icon-checkoff">
                                    <i v-on:click="activate_state(task.id, task_active_state)" v-bind:class="task_state_icon"></i>
                                </div>
                                <div class="icon-delete">
                                    <i v-on:click="delete_or_unmark_task(task.id, task.task_state)" class=" delete_or_unmark" v-bind:id="'t' + task.id" v-bind:class="delete_or_unmark_icon(task.task_state)"></i>
                                </div>
                            </div>
                            <div class="priority" v-bind:class="get_priority_from_number(task.priority)">
                                ${task.priority}
                            </div>
                            <div class="task-info-container">
                                <div class="summary">
                                    ${task.summary}
                                </div>
                                <div class="meta-info">
                                    <div class="created-by">Created by: Rodolfo</div>
                                    <div class="created-on">Oct 9</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- End Tasks List -->
                        </div>

                        <form action="#" v-on:submit.prevent="add_task" class="form-horizontal" enctype="multipart/form-data" method="post">
                            <div class="form-group" id="summary_row">
                                <div>
                                    <textarea class="form-control string" id="content" v-model="form_task_summary" type="text" placeholder="What's there to do, doc?"></textarea>
                                </div>
                            </div>
                            <div class="priority">
                                <div class="green-priority" v-bind:class="{'selected': is_selected('green')}" v-on:click="set_selected_priority('green')">3</div>
                                <div class="yellow-priority" v-bind:class="{'selected': is_selected('yellow')}" v-on:click="set_selected_priority('yellow')">2</div>
                                <div class="red-priority" v-bind:class="{'selected': is_selected('red')}" v-on:click="set_selected_priority('red')">1</div>
                            </div>
                            <input class="btn btn-sm" id="add_task_submit" type="submit" value="Add"/>
                        </form>
                    </div>
                <!-- End Track Overview Section -->
                </div>
            </div>
        </div>

    <!------------------------           End Site Page Content              ----------------------->
    </div>

    <!-----------------------------           End Vue Div              ---------------------------->
    </div>
</div>

<script src="{{=URL('static', 'js/project_vue.js')}}"></script>