@import url("https://fonts.googleapis.com/css?family=Raleway|Maven+Pro:500");
/* line 3, ../sass/projects.scss */
#site-content {
  height: 100%;
}

/* line 7, ../sass/projects.scss */
.user-page-title {
  margin-top: 30px;
  font-family: Roboto;
  font-size: 30px;
}

/* line 13, ../sass/projects.scss */
#projects-buttons-bar {
  margin-bottom: 20px;
  height: 45px;
  width: 100%;
  box-shadow: 0px 8px 5px -5px #d8d8d8;
}
/* line 21, ../sass/projects.scss */
#projects-buttons-bar button {
  display: inline-block;
  float: left;
  background-color: #e2e2e2;
  margin: 0;
  height: 100%;
  width: 50%;
  color: Black;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: none;
  border: 1px solid #c4c4c4;
  box-shadow: none;
}
/* line 45, ../sass/projects.scss */
#projects-buttons-bar button:first-child {
  border-right: 0px;
}
/* line 49, ../sass/projects.scss */
#projects-buttons-bar button:hover {
  background-color: #d8d8d8;
}

/* line 54, ../sass/projects.scss */
.form-horizontal {
  margin: auto;
  height: 200px;
}
/* line 58, ../sass/projects.scss */
.form-horizontal #form-header {
  margin: auto;
  width: 60%;
  min-width: 600px;
  font-size: 24px;
}
/* line 65, ../sass/projects.scss */
.form-horizontal .form-group {
  margin: 0;
}
/* line 69, ../sass/projects.scss */
.form-horizontal .form-control {
  float: left;
  display: inline-block;
  height: 36px;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
  border-bottom: 2px solid #b0dce5;
}
/* line 80, ../sass/projects.scss */
.form-horizontal input,
.form-horizontal select,
.form-horizontal label {
  float: left;
  display: inline-block;
  height: 36px;
  padding-top: 6px;
  line-height: 36px;
  width: initial;
  text-align: right;
  font-size: 18px;
  font-weight: normal;
  box-sizing: border-box;
}
/* line 97, ../sass/projects.scss */
.form-horizontal label {
  padding-right: 10px;
}
/* line 101, ../sass/projects.scss */
.form-horizontal input {
  padding-bottom: 0px;
  text-align: left;
  font-size: 15px;
}
/* line 107, ../sass/projects.scss */
.form-horizontal #project_name_row {
  margin: auto;
  width: 60%;
  min-width: 600px;
}
/* line 112, ../sass/projects.scss */
.form-horizontal #project_name_row label {
  width: 12%;
}
/* line 116, ../sass/projects.scss */
.form-horizontal #project_name_row label:first-child {
  width: initial;
  text-align: left;
}
/* line 121, ../sass/projects.scss */
.form-horizontal #project_name_row input {
  width: 40%;
}
/* line 125, ../sass/projects.scss */
.form-horizontal #project_name_row select {
  width: 18%;
}
/* line 130, ../sass/projects.scss */
.form-horizontal #form-phase {
  float: left;
  display: inline-block;
  background-color: white;
  border: none;
  border-bottom: 2px solid #b0dce5;
  margin: 0;
  height: 36px;
  font-size: 15px;
  outline: none;
}
/* line 142, ../sass/projects.scss */
.form-horizontal #project-version-row {
  margin: auto;
  width: 60%;
  min-width: 600px;
}
/* line 147, ../sass/projects.scss */
.form-horizontal #project-version-row label {
  width: 22.3%;
}
/* line 151, ../sass/projects.scss */
.form-horizontal #project-version-row label:first-child {
  width: initial;
  text-align: left;
}
/* line 156, ../sass/projects.scss */
.form-horizontal #project-version-row input {
  width: 12%;
  padding-right: 0px;
}
/* line 162, ../sass/projects.scss */
.form-horizontal #button-holder {
  margin-top: 15px;
  margin: auto;
  width: 60%;
  min-width: 600px;
}
/* line 169, ../sass/projects.scss */
.form-horizontal .help-block {
  color: red;
}
/* line 173, ../sass/projects.scss */
.form-horizontal #create_project_submit {
  display: block;
  padding: 5px;
  color: black;
  height: 30px;
  line-height: 15px;
  background-color: #b0dce5;
  text-transform: none;
}

/* line 184, ../sass/projects.scss */
#projects-list {
  display: inline-block;
  width: 100%;
}
/* line 188, ../sass/projects.scss */
#projects-list table {
  width: 100%;
}
/* line 191, ../sass/projects.scss */
#projects-list table tr {
  height: 40px;
  font-size: 25px;
}
/* line 197, ../sass/projects.scss */
#projects-list table tr :first-child {
  padding-left: 10px;
}
/* line 202, ../sass/projects.scss */
#projects-list table tr#header th {
  height: 40px;
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
}
/* line 211, ../sass/projects.scss */
#projects-list table tr.projects {
  border-top: 1px solid #c7c7c7;
  font-size: 18px;
}
/* line 216, ../sass/projects.scss */
#projects-list table tr.projects td {
  height: 30px;
}
/* line 220, ../sass/projects.scss */
#projects-list table tr.projects:hover {
  background-color: #bfe0e8;
  cursor: pointer;
}
